.bg-nav{
    background-color: #1A84FF;
}

.logo{
    height: 100px;
    width: 100px;
}

.text-nav{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 50px;

}
   
.log-out{
    margin-left: 1200px;
}

.mar-img{
    text-align: center;

  width: 400px;
  margin-bottom: 20px;
  
}


.desk-gedung{
    width: 300px;
}


.e-commerce{
    width: 1100px;
    margin-left: 300px;
    margin-top: 30px;
}

.banner-catalog{
    width: 1690px;
    height: 500px;
    object-fit: cover;

}

.head-commerce{
    width: 1690px;
    height: 100px;
    background-color: #232173;
    padding: 10px;
}

.bor h1    {
    color: #f1f1f1;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 10px;
}


.bor{
    border: 3px solid #f1f1f1;
    width: 260px;
    height: 60px;
    border-radius: 20px;
    
}

.scroll{
   background-color: #ebebeb;
   margin-top: 20px;
}

.table-posting{
    background-color: white;
}

.img-gedung{
    width: 400px;
    height: 300px;
    
}

.baris{
    margin-bottom: 20px;
}

.card-text{
    text-align: left;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.cat{
    width: 1400px;
    margin-left: 150px;
    margin-top: 30px;
    padding: 10px;
    background-color: white;
    margin-bottom: 20px;
    
   
}

.foto{
    margin-top: 20px;
    background-color: #ffffff;
    height: 300px;
    
}

.desk{
    background-color: #ffffff;
    height: 300px;
}

.desk-pass{
    height: 100px;
    width: 800px;
}

.nomor-ruangan{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-weight: bold;
}

.tipe{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-weight: bold;
}

.deskripsi{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    
}

.rating-star{
    color: #d2ce03;
    margin-top: -20px;
}

.cont{
    background-color: #ebebeb;
    margin-top: -20px;
    padding: 10px;
}

.pesan{
    display: block;
    text-decoration: none;
    width: 170px;
    height: 40px;
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}